/*====VARIABLES====*/
:root {
  /*==colores==*/
  --bg-color: #f5f5f5;
  --line-color: #0c0c0c;
  --primary-color: #63096f;
  --txt-ligth-color: #3c3c3c;
  --txt-color: #0a0a0a;
  /*==fonts==*/
  --txt-g-size: 1.2rem;
  --txt-m-size: 1rem;
  --txt-size: 0.8rem;
  --txt-s-size: 0.6rem;
  --h1-size: 2rem;
  --h2-size: 1.8rem;
  --h3-size: 1.5rem;
  --h4-size: 1.3rem;
  --font: "Roboto", sans-serif;
  /*==size==*/
  --heigth: 4rem;
}
html {
  margin: 0;
  padding: 0%;
  scroll-behavior: smooth;
  font-size: 16px;
}
